<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 开启业务仓库服务路由-->
    <add key="BOServiceRouting" value="true" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" closeTimeout="00:59:59"
             openTimeout="00:59:59" receiveTimeout="00:59:59" sendTimeout="00:59:59"
             maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
             textEncoding="utf-8" transferMode="Buffered">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:3095/DataService/SystemCenter.svc"
         binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
         contract="BORep.BusinessSystemCenter.BORepository.IBORepBusinessSystemCenterService" name="BasicHttpBinding_BORepBusinessSystemCenter" />
    </client>
  </system.serviceModel>
</configuration>
